<ng-container *ngIf="!_isError; else errorTemplate">
    <ng-container [ngTemplateOutlet]="kanbanTemplate"
                  [ngTemplateOutletContext]="{tasks: _tasks$ | async, sprint: _activeSprint$ | async}"></ng-container>
</ng-container>

<ng-template #kanbanTemplate let-tasks="tasks" let-sprint="sprint">
    <ng-container *ngIf="tasks?.length; else errorTemplate">
        <div class="kanban__widgets"></div>
        <div class="kanban__sprint">
            <div class="kanban__sprint-left">
                <div class="kanban__sprint-name mat-body-strong">{{sprint?.code}} {{sprint?.name}}</div>
                <svg class="kanban__reload-button" (click)="_reload()">
                    <use xlink:href="#icon-reload"></use>
                </svg>
            </div>
            <div class="kanban__sprint-right" *ngIf="!sprint?.readonly">
                <button class="kanban__edit-sprint" mat-raised-button color="accent" (click)="_editSprint()">
                    Edit Sprint
                </button>
                <button class="kanban__plan-sprint" mat-raised-button color="accent" (click)="_startSprint()">
                    Plan Sprint
                </button>
            </div>
        </div>
        <div class="kanban__tasks">
            <tsm-task-column *ngFor="let status of _statuses"
                             class="kanban__task-column"
                             [tasks]="tasks"
                             [status]="status"></tsm-task-column>
        </div>
    </ng-container>
</ng-template>

<ng-template #errorTemplate>
    <div class="kanban__error">{{_errorMessage}}</div>
</ng-template>
