:host {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-grow: 1;
  align-self: stretch;
}

.kanban {
  &__sprint {
    display: flex;
    align-self: stretch;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;

    &-left {
      display: flex;
      align-items: center;
    }



    &-right {
      display: flex;
      align-items: center;
    }
  }

  &__reload-button {
    margin-left: 10px;
    height: 24px;
    width: 24px;
    fill: gray;
    cursor: pointer;
  }

  &__edit-sprint {
    background-color: #81B29A;
  }

  &__plan-sprint {
    margin-left: 10px;
  }

  &__tasks {
    display: flex;
    align-items: stretch;
    flex-grow: 1;
    align-self: stretch;
  }

  &__task-column {
    &+& {
      margin-left: 20px;
    }
  }

  &__error {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
