<tsm-project-header></tsm-project-header>
<div class="projects__header">
    <div class="projects__header-text mat-h2">My Projects</div>
    <button class="projects__add-button" mat-raised-button color="accent"
            (click)="_addProject()">Add Project</button>
</div>
<ng-container *ngIf="!(_loading$ | async); else loading">
    <div class="projects__wrapper">
        <ng-container *ngFor="let project of (_projects$ | async)">
            <tsm-project-card class="projects__card" [project]="project"
                              (click)="_selectProject(project)"></tsm-project-card>
        </ng-container>
    </div>
</ng-container>
<ng-template #loading>
    <div class="loader-wrapper">
        <mat-spinner class="loader"></mat-spinner>
    </div>
</ng-template>
